*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(https://i.gifer.com/fyrS.gif);
    background-size: cover;
    background-repeat: no-repeat; 
}
h1{
    text-align: center;
    color: #27aea2;
    text-shadow: 2px 2px 5px #e0e0ce;
    font-size: 50px;
    font-family:"Jersey 15", sans-serif;
    margin-bottom: 20px;
}
.formulario{
    width: 700px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid #27aea2;
    border-radius: 10px;
    font-family:"Jersey 15", sans-serif;
    filter: inherit;
}
.espacio{
    margin-bottom: 20px;
    padding: 9px;
    width: 300px;
    background: transparent;
    color: white;
    border: 2px solid #27aea2;
    border-radius: 5px;
}
label{
    color: #27aea2;
    font-size: 30px;
    border: none;
    text-shadow: 2px 2px 2px #e0e0ce;;
}
.boton{
    padding: 8px;
    width: 320px;
    background-color: #27aea2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: "Jersey 15", sans-serif;
}
.qr{
    height: 300px;
    width: 300px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 10px;
    border: 3px solid #27aea2;
}
p{
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
    color: white;
}
.olvide{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 90px;
    margin-top: 10px;
    font-size: 15px;
}
.boton:hover{
    background-color: #2d8881;
    text-shadow: 1px 1px 10px #fffcfc;
    transition: background-color 0.2s ease-in-out 0.3s;
}
.espacio:hover{
    box-shadow: 1px 1px 10px #fffcfc;
}
.qr:hover{
    box-shadow: 1px 1px 10px #fffcfc;
}
